In [1]:
'''Importación de librerias'''
import pandas as pd

In [2]:
'''Carga del dataset'''
df = pd.read_csv("data_act_01.csv", sep=';')
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [3]:
'''Eliminación de los datos numericos e inconsistentes de la columna OriginalCrimeTypeName '''

df.drop(df[df["OriginalCrimeTypeName"].str.contains('\d+')].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Adv'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='**Tazer**'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='A'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='`Drugs'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Adv To Co A'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Alarm'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Amplified'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Areport'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Ams'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bar Check'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Barking'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bat'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Band'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bart'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='BI'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bicylist'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Boombox'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='X'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Wz'].index, inplace=True)

In [4]:
'''Eliminación de la columna Range '''
data = df.drop(['Range'], axis = 1)
data.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
5,160913003,Ref'd,2016-03-31T00:00:00,18:29,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,Intersection

# Valores nulos

In [5]:
'''Confirmación de existencia de valores nulos'''
data.isnull().sum()

CrimeId                    0
OriginalCrimeTypeName      0
OffenseDate                0
CallTime                   0
CallDateTime               0
Disposition                0
Address                    0
City                     321
State                      3
AgencyId                   0
AddressType                0
dtype: int64

In [6]:
'''Reemplazo de los valores nulos'''
data['City'].fillna("Desconocida", inplace=True)
data['State'].fillna("Desconocida", inplace=True)

In [7]:
'''Verificación de valores nulos existentes'''
data.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

# Valores duplicados

In [8]:
'''Comprobación de existencia de duplicados'''
data['CrimeId'].duplicated().sum()

4

In [9]:
'''Listar de valores duplicados'''
duplicados = data[data['CrimeId'].duplicated(keep=False)]['CrimeId'].tolist()

In [12]:
'''Aumento de +1 a los valores duplicados'''
setDuplicados = set(duplicados)
for d in setDuplicados:
    dupli = data[data['CrimeId'] == d]
    data.loc[dupli.iloc[1,:].name, 'CrimeId'] = data.loc[dupli.iloc[1,:].name]['CrimeId'] + 2

In [13]:
'''Verificación de existencia de duplicados'''
data['CrimeId'].duplicated().sum()

0

# Corrección de valores

In [15]:
'''Reemplazo de valores'''
data['City'].replace({"S": "San Francisco"})
data['Address'].replace({"Ybi": "Y.b.i."})
data['OriginalCrimeTypeName'].replace({"Agg Assault / Adw Dv": "Agg Assault / Adw"})
data['OriginalCrimeTypeName'].replace({"Attemp": "Attempt"})
data['OriginalCrimeTypeName'].replace({"Atc": "Att"})
data['OriginalCrimeTypeName'].replace({"Att Jo": "Att"})
data['OriginalCrimeTypeName'].replace({"Att Only": "Att"})
data['OriginalCrimeTypeName'].replace({"Att Susp": "Att"})
data['OriginalCrimeTypeName'].replace({"Camper": "Campers"})
data['OriginalCrimeTypeName'].replace({"Chp": "Chop Shop"})
data['OriginalCrimeTypeName'].replace({"Death": "Death / Coroner"})
data['OriginalCrimeTypeName'].replace({"Dogs Barking": "Dog Barking"})
data['OriginalCrimeTypeName'].replace({"Drinkers": "Drinking"})
data['OriginalCrimeTypeName'].replace({"Encampent": "Encampment"})
data['OriginalCrimeTypeName'].replace({"Vendors": "Vendor"})
data['Disposition'].replace({"22": "Not recorded"})

0                 REP
1                 GOA
2                 GOA
3                 GOA
5                 GOA
             ...
10046             GOA
10047             ADV
10048             CIT
10049    Not recorded
10050             ADV
Name: Disposition, Length: 8773, dtype: object

# Formato de fechas

In [16]:
'''Agrupación de columnas'''
data.loc[:, ['OffenseDate', 'CallDateTime']]

               OffenseDate         CallDateTime
0      2016-03-30T00:00:00  2016-03-30T18:42:00
1      2016-03-31T00:00:00  2016-03-31T15:31:00
2      2016-03-31T00:00:00  2016-03-31T16:49:00
3      2016-03-31T00:00:00  2016-03-31T17:38:00
5      2016-03-31T00:00:00  2016-03-31T18:29:00
...                    ...                  ...
10046  2016-04-05T00:00:00  2016-04-05T23:38:00
10047  2016-04-05T00:00:00  2016-04-05T23:43:00
10048  2016-04-05T00:00:00  2016-04-05T23:48:00
10049  2016-04-05T00:00:00  2016-04-05T23:48:00
10050  2016-04-05T00:00:00  2016-04-05T23:54:00

[8773 rows x 2 columns]

In [18]:
'''Conversion de formato de fecha y hora'''
data['OffenseDate'] = pd.to_datetime(df['OffenseDate'])
data['CallDateTime'] = pd.to_datetime(df['CallDateTime'])
data.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30,18:42,2016-03-30 18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31,15:31,2016-03-31 15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31,16:49,2016-03-31 16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31,17:38,2016-03-31 17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
5,160913003,Ref'd,2016-03-31,18:29,2016-03-31 18:29:00,GOA,16th St/pond St,San Francisco,CA,1,Intersection

In [19]:
'''Convertir dataser en formato json'''
data.to_json('data_act_01.json', orient='records', lines=True)