In [2]:
'''Importaci贸n de librerias'''
import pandas as pd

In [3]:
'''Carga del dataset'''
df = pd.read_csv("data_act_01.csv", sep=';')
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [4]:
'''Eliminaci贸n de los datos numericos e inconsistentes de la columna OriginalCrimeTypeName '''

df.drop(df[df["OriginalCrimeTypeName"].str.contains('\d+')].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Adv'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='**Tazer**'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='A'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='`Drugs'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Adv To Co A'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Alarm'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Amplified'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Areport'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Ams'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bar Check'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Barking'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bat'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Band'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bart'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='BI'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Bicylist'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Boombox'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='X'].index, inplace=True)
df.drop(df.loc[df['OriginalCrimeTypeName']=='Wz'].index, inplace=True)

In [5]:
'''Eliminaci贸n de la columna Range '''
data = df.drop(['Range'], axis = 1)
data.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
5,160913003,Ref'd,2016-03-31T00:00:00,18:29,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,Intersection

In [6]:
'''Confirmaci贸n de existencia de valores nulos'''
data.isnull().sum()

CrimeId                    0
OriginalCrimeTypeName      0
OffenseDate                0
CallTime                   0
CallDateTime               0
Disposition                0
Address                    0
City                     321
State                      3
AgencyId                   0
AddressType                0
dtype: int64

In [7]:
'''Reemplazo de los valores nulos'''
data['City'].fillna("Desconocida", inplace=True)
data['State'].fillna("Desconocida", inplace=True)